*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}

body{
    background-image: url(images/jose-antonio-gallego-vazquez-MTw703lVy2s-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
}

#heading{
    /* border: 1px solid blue; */
    color: #FFD700;
    padding: 10px;
    font-weight: 700;
}

.headerContainer{
    width: 100%;
    padding: 10px;
}

#navBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navBar > button{
    width: 100px;
    height: 50px;
    font-size: 1.7rem;
    border: none;
    border-bottom: 3px solid #FFD700;
    background-color: transparent;
    color: #FFD700;
    font-weight: 700;
}

#navBar > button:hover{
    border-bottom: 3px solid #dbbb04;
    cursor: pointer;
    color: #dbbb04;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.homeContent{
    margin-top: 20px;
    width: clamp(200px, 600px, 50%);
    background-color: #33333373;
    padding: 20px;
    text-align: center;
    color: #dbbb04;
    font-size: 1.5rem;
}

.dishContainer{
    background-color: #3333338f;
    font-size: 1.5rem;
    color: #dbbb04;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: clamp(250px, 350px, 500px);
    gap: 20px;
}

.dishImg{
    width: clamp(100px, 200px, 400px);
    aspect-ratio: 1/1;
}
